.bgColor
{
	/*background: #35395A;*/
	color: white;
	background-image: linear-gradient(to right, #35395A , #4d4f6d);
	
}

.logo
{
	width: 100%;
	
}

.form_UP {
  width: 350px;
  padding: 15px;
  margin: 0 auto;
}

#estgImg {
  width: 300px;
}

#icons {
  width: 50%;
  text-align: center;
}
