.bgColor
{
	/*background: #35395A;*/
	color: white;
	background-image: linear-gradient(to right, #35395A , #4d4f6d);
	
}

.form_UP {
  width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.iconF
{
  width: 100%;
  height: auto;
}

.logo
{
  width: 100%;
}

.mainColorBG
{
  background-color: #4d4f6d;
  color: white;
}

#banner
{
  width: 40%;
  float: right;
  margin-right: 15%;
}

#hotelImg {
  width: 13%;
}

#icons {
  width: 50%;
  text-align: center;
}

#door{
  width: 50%;
  text-align: center;
}

.imgCamera{
  text-align: center;
  width: auto;
}